.container-fluid {
  padding: 0px 100px !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
li {
  list-style: none;
  text-decoration: none;
}
a.nav-link.btn1 {
  border-radius: 30px;
  width: 100px;
  padding: 1px;
  text-align: center;
  margin-top: 10px;
  background: green;
}
li.nav-item {
  padding: 0px 35px;
  font-size: 1rem;
  /* color: #fff !important; */
  font-weight: 600;
}
li.nav-item a {
  color: #2c3e50 !important;
  text-decoration: none !important;
}
section.section1 {
  background: url(images/graphics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -40px;
}
section.section1 .join {
  position: relative;
  top: 40%;
  left: 8%;
}
section.section1 h1 {
  font-size: 3.5rem;
  color: #2c3e50;
  font-weight: 700;
}
section.section1 p {
  font-size: 1.7rem;
  color: #2c3e50;
  font-weight: 600;
}
/* section.section2 {
  height: 10rem;
} */
section.section2 .content p {
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 500;
  color: #566573;
  margin: 50px 0 80px 0;
}
section.section2 .content h2 {
  font-size: 2.5rem;
  color: #566573;
  margin: 20px 0;
}
section.section2 .content h3 {
  font-size: 1.5rem;
  color: #566573;
  margin: 20px 0;
  line-height: 35px;
}
section.section3 .card.h-100 {
  border: none;
}
section.section3 h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #566573;
  margin-bottom: 2rem;
}
section.section3 {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section3 img.card-img-top {
  max-width: 50%;
  margin: 0 auto;
}
section.section3 .card-body {
  text-align: center;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
section.section3 h5.card-title {
  font-size: 1.4rem;
  color: #566573;
}
section.section4 {
  height: 125vh;
  display: flex;
  flex-wrap: wrap;
}
section.section4 .project-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.section4 .project-content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
section.section4 .project-content a {
  padding: 20px 0 0 0;
  color: green;
  text-decoration: none;
  font-weight: 600;
}
section.section4 .card.h-100 {
  border: none;
}
section.section4 .card-body {
  flex: 1 1 auto;
  padding: 0rem 0rem;
}
section.section4 .card-body a {
  text-decoration: none;
  border: 3px solid #2c3e50;
  padding: 3px 20px;
  color: #2c3e50;
  font-weight: 600;
}
section.section4 .card-title {
  display: flex;
  justify-content: space-between;
}
section.section4 .card-title p {
  font-size: 2rem;
  font-weight: 700;
}
section.section4 .card-title button {
  height: 24px;
  font-size: 0.7rem;
  background: #2c3e50;
  color: #fff;
  border: none;
  margin: 1rem 0;
}
section.section4 p.card-text {
  font-size: 1.5rem;
  font-weight: 500;
}
section.section5 .question {
  display: flex;
  justify-content: space-evenly;
}

section.section5 .ques-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 6rem;
  background: #2ecc71;
  color: #fff;
}
section.section5 .ques-content h3 {
  font-size: 1.5rem;
}
section.section5 .image {
  width: 50%;
}
section.section5 img {
  width: 100%;
}
section.section6 {
  height: 120vh;
}
section.section6 h2 {
  text-align: center;
  padding: 2rem 0;
}
section.section6 .last-content p {
  margin-top: 0;
  margin-bottom: 0rem;
}

section.section6 img.card-img-top {
  width: 30%;
  margin: 0 auto;
  padding: 70px 0 20px 0;
}
section.section6 .card-body {
  flex: 1 1 auto;
  padding: 0rem 1rem;
  text-align: center;
}
section.section6 h5.card-title {
  font-size: 2.5rem;
  padding: 1rem 1rem 0 1rem;
  font-weight: 600;
  color: #2c3e50;
}
section.section6 p.card-text {
  font-size: 1.5rem;
  padding: 1rem 2rem 3rem 2rem;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  color: #2c3e50;
}
section.section7 {
  background: #e91e63;
  height: 56vh;
  padding-top: 110px;
}
section.section7 h1 {
  font-size: 4rem;
  color: #fff;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
.section7 button.btn {
  border: 1px solid #fff;
  border-radius: 41px;
  width: 300px;
  font-size: 31px;
  font-weight: 700;
  height: 80px;
  color: #e91e63;
  background: #fff;
  margin-left: 260px;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
video#myVideo {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

div#foo-content {
  display: block;
  position: absolute;
  margin-top: -619px;
  /* top: 0; */
  color: #fff;
}
div#foo-content h1 {
  font-size: 3rem;
}
#foo-content p {
  text-align: end;
}

div#foo-bottom {
  position: absolute;
  margin-top: -119px;

  color: #fff;
}
#foo-bottom .col-md-9 {
  text-align: center;
  margin-top: 6px;
}

#foo-bottom .col-md-9 a {
  color: #fff !important;
  text-decoration: none;
  padding: 0 75px 0 0px;
}
#foo-bottom .col-md-3 a {
  color: #fff !important;
  text-decoration: none;
  padding: 0px 0px 0 30px;
  font-size: 25px;
}
.col-md-3 {
  text-align: end;
}
